<blockquote style="padding-right:0px">
  <div class="col-xs-1">
      <button type="button" class="btn btn-default btn-sm" ng-click="comment.upvote = comment.upvote + 1;">
        <span class="glyphicon glyphicon-arrow-up"></span>
      </button>
      <h6>&nbsp;&nbsp;&nbsp;{{comment.upvote}}</h6>
      <button type="button" class="btn btn-default btn-sm" ng-click="comment.upvote = comment.upvote - 1;">
        <span class="glyphicon glyphicon-arrow-down"></span>
      </button>
  </div>

  <a ng-href="{{commenter_url}}"><b>{{comment.commenter}}</b></a>
  <br>
  {{comment.content}}
  <br>
  <div class="pull-right btn btn-primary" ng-hide="comment.form_reply" ng-click="comment.form_reply = true">reply</div>
  <div class="pull-right btn btn-warning" style="margin-right:5px" ng-hide="!comment.bookmarked" ng-click="revertbookmark(comment)">bookmarked</div>
  <div class="pull-right btn btn-warning" style="margin-right:5px" ng-hide="comment.bookmarked" ng-click="bookmark(comment)">bookmark</div>
  <div ng-hide=!comment.form_reply>
    <br>
    <textarea ng-model="form_message" class=form-control></textarea>
    <table>
      <tr>
        <td>
          <div class="btn btn-primary" ng-click="reply(comment,1,form_message)">Reply as Anonymous</div>
        <td>
          <div class="btn btn-primary" ng-click="reply(comment,0,form_message)">Reply as Yourself</div>
        <td>
          <div class="btn btn-danger" ng-click="comment.form_reply = false" href=#>Cancel</div>
    </table>
  </div>

  <div class="clearfix"></div>
  <br>
  <div ng-repeat="comment in comment.replies">
    <div ng-include="'template/discussion.html'"></div>
  </div>
</blockquote>
