<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
          <div class="col-xs-1">
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-arrow-up"></span>
              </button>
              <h6>&nbsp;121</h6>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-arrow-down"></span>
              </button>
          </div>
          <div class="col-xs-2">
              <img src="img/doge.png" width=100% />
          </div>
          <div class="col-xs-8">
              <a href="discussion2.html" class="btn-default" role="button"><h3>komputer rakitan murah pemula</h3></a>
              <hr style="margin:0">

              Berikut spesifikasi komputer pemula saya.<br><br>

              <a href="https://pcpartpicker.com/list/VMfXJV">PCPartPicker part list</a> / <a href="https://pcpartpicker.com/list/VMfXJV/by_merchant/">Price breakdown by merchant</a>
              <table class="pcpp-part-list table table-striped">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Item</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="pcpp-part-list-type">CPU</td>
                    <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/xwhj4D/intel-cpu-bx80662i56500">Intel Core i5-6500 3.2GHz Quad-Core Processor</a></td>
                    <td class="pcpp-part-list-price">
                      <a href="https://pcpartpicker.com/product/xwhj4D/intel-cpu-bx80662i56500">$191.91 @ Jet</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pcpp-part-list-type">CPU Cooler</td>
                    <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/hmtCmG/cooler-master-cpu-cooler-rr212e20pkr2">Cooler Master Hyper 212 EVO 82.9 CFM Sleeve Bearing CPU Cooler</a></td>
                    <td class="pcpp-part-list-price">
                      <a href="https://pcpartpicker.com/product/hmtCmG/cooler-master-cpu-cooler-rr212e20pkr2">$29.88 @ OutletPC</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pcpp-part-list-type">Motherboard</td>
                    <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/Q9Gj4D/asus-motherboard-z170a">Asus Z170-A ATX LGA1151 Motherboard</a></td>
                    <td class="pcpp-part-list-price">
                      <a href="https://pcpartpicker.com/product/Q9Gj4D/asus-motherboard-z170a">$149.99 @ NCIX US</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pcpp-part-list-type">Memory</td>
                    <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/MYH48d/corsair-memory-cmk16gx4m2b3000c15">Corsair Vengeance LPX 16GB (2 x 8GB) DDR4-3000 Memory</a></td>
                    <td class="pcpp-part-list-price">
                      <a href="https://pcpartpicker.com/product/MYH48d/corsair-memory-cmk16gx4m2b3000c15">$93.99 @ Jet</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pcpp-part-list-type">Storage</td>
                    <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/MwW9TW/western-digital-internal-hard-drive-wd10ezex">Western Digital Caviar Blue 1TB 3.5" 7200RPM Internal Hard Drive</a></td>
                    <td class="pcpp-part-list-price">
                      <a href="https://pcpartpicker.com/product/MwW9TW/western-digital-internal-hard-drive-wd10ezex">$49.78 @ OutletPC</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pcpp-part-list-type">Video Card</td>
                    <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/JVWrxr/msi-geforce-gtx-1060-6gb-gaming-x-video-card-geforce-gtx-1060-gaming-x-6g">MSI GeForce GTX 1060 6GB 6GB GAMING X Video Card</a></td>
                    <td class="pcpp-part-list-price">
                      <a href="https://pcpartpicker.com/product/JVWrxr/msi-geforce-gtx-1060-6gb-gaming-x-video-card-geforce-gtx-1060-gaming-x-6g">$276.96 @ Amazon</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pcpp-part-list-type">Case</td>
                    <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/3MPfrH/deepcool-case-tesseractsw">Deepcool TESSERACT SW ATX Mid Tower Case</a></td>
                    <td class="pcpp-part-list-price">
                      <a href="https://pcpartpicker.com/product/3MPfrH/deepcool-case-tesseractsw">$38.99 @ SuperBiiz</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pcpp-part-list-type">Power Supply</td>
                    <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/g63RsY/evga-power-supply-120g10650xr">EVGA SuperNOVA NEX 650W 80+ Gold Certified Fully-Modular ATX Power Supply</a></td>
                    <td class="pcpp-part-list-price">
                      <a href="https://pcpartpicker.com/product/g63RsY/evga-power-supply-120g10650xr">$74.88 @ OutletPC</a>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="pcpp-part-list-subtotal">Total (before mail-in rebates)</td>
                    <td class="pcpp-part-list-subtotal-price">$926.38</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="pcpp-part-list-subtotal">Mail-in rebates</td>
                    <td class="pcpp-part-list-subtotal-price">-$20.00</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="pcpp-part-list-total">Total</td>
                    <td class="pcpp-part-list-total-price">$906.38</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="pcpp-part-list-price-note">Generated by <a href="http://pcpartpicker.com">PCPartPicker</a> 2016-12-12 07:46 EST-0500</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>

          </div>
      </div>
      <br>
      <h4>My Comment</h4><br>
      <textarea class=form-control ng-model=form_message></textarea>
      <table>
        <tr>
          <td>
            <div ng-click="comment(1,form_message); form_message = ''" class="btn btn-primary" href=#>Comment as Anonymous</div>
          <td>
            <div ng-click="comment(0,form_message); form_message = ''" class="btn btn-primary" href=#>Comment as Yourself</div>
      </table>

      <div ng-repeat="comment in comments"  ng-include="'template/discussion.html'"></div>

    <div class="btn btn-primary center-block">More...</div><br><br>
  </div>
  </div>
</div>
